.container {
  max-width: 800px;
  margin-top: 10px;
  margin: 0 auto;
  padding-top: 2rem;
  font-family: 'Arial', sans-serif;
  color: #000000;
  line-height: 1.6;
}

.container h1 {
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: #000;
  text-transform: uppercase;
}

.container h2 {
  font-size: 1.2rem;
  margin-top: 1.5rem;
  margin-bottom: 0.8rem;
  font-weight: bold;
  color: #111;
}

.container p {
  margin-bottom: 1rem;
}

.container ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}