.layout__container{
    display: flex;
    flex-direction: column;
    background-color: var(--color_claro_fondo);
    width: 100%;
    height: 100%;
}

.header__container {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 13vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    transition: transform 0.3s ease-in-out;
    border-bottom: 1px solid rgb(201, 201, 201);
}

.header__marquee{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: var(--color_oscuro);
}

.header__menu__container {
    margin: auto;
    width: 94%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.header__logo_and_links{
    display: flex;
    align-items: center;
    justify-self: flex-start;
    gap: 2rem;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    transform: translateY(.3rem);
}

.header__links{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.header__search_login_and_cart {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.userMenu__container {
    position: relative;
}

.userMenu {
    position: absolute;
    right: -.1rem;
    top: 3.2rem;
    min-width: 8rem;
    padding: 1rem;
    background-color: var(--color_claro_fondo);
    border: 1px solid rgba(128, 128, 128, 0.276);
    border-radius: 0.5rem;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.15);
    z-index: 999;
    transition: opacity 0.2s ease, transform 0.2s ease;
}

@media screen and (max-width: 950px) {
  .userMenu{
    right: -1rem;
  }
}

.userMenu__options {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.userMenu__option {
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
    font-weight: 500;
    color: var(--color_oscuro);
    text-decoration: none;
    transition: background-color 0.2s ease;
}

.userMenu__option:hover {
    color: black;
    background-color: rgba(128, 128, 128, 0.276);
    border: 1px solid rgba(128, 128, 128, 0.276);
    cursor: pointer;
}


.header__logo img{
    width: 3rem;
    height: 3rem;
    color: var(--color_oscuro);
    cursor: pointer;
}

.header__links a{
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color_oscuro);
}

.header__links a:hover,
.header__links a:active{
    color: var(--color_azul);
}