:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --color_oscuro: #231F20;
  --color_claro_fondo: #ffffff;
  --color_claro: #ECEFF1;
  --color_naranja: #F87C02;
  --color_amarillo: #EDE734;
  --color_verde: #AFD69D;
  --color_marron_claro: #D8CC99;
  --color_azul: #008cff;
  --color_gris_claro: #878788;
  --color_azul_oscuro: #003180;;
  --color_gris: #797979;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body, html, #root {
  width: 100%;
<<<<<<< HEAD
  min-width: 550px;
  height: 100vh;
  overflow-x: hidden;
  min-width: 670px;
=======
  min-width: 670px;
  height: auto; /* Deja que el contenido determine la altura */
  min-height: 120vh; /* Asegura que haya espacio suficiente para el scroll */
  overflow-x: hidden;
>>>>>>> recuperacion-local
}

p{
  color: black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
<<<<<<< HEAD
  display: flex;
  place-items: center;
  width: 100vw;
  height: 100vh;
}

main{
  display: flex;
  flex-direction: column;
  flex: 1;
}

=======
  display: block; /* Evita que flexbox afecte el scroll */
  width: 100vw;
  min-height: 120vh; /* Garantiza que haya suficiente espacio para hacer scroll */
}

main {
  margin-top: 90px; /* Ajusta según la altura de tu header */
  width: 100%;
  min-height: calc(100vh - 80px); /* Asegura que el contenido no se corte */
}


>>>>>>> recuperacion-local
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}