.marqueeContainer {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 20px;
    background-color: #231F20;
    /* Opcional, para resaltar el fondo */
    padding: 0.5rem 0;
}

.marqueeContent {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    white-space: nowrap;
    font-size: 1rem;
    color: yellow;
    /* Se inicia centrado, pero la animación lo desplaza completamente */
    animation: marquee 20s linear infinite;
}

/* Animación que mueve el texto de derecha a izquierda */
@keyframes marquee {
    0% {
        transform: translateX(100%);
        /* Empieza fuera del borde derecho */
    }

    100% {
        transform: translateX(-100%);
        /* Termina fuera del borde izquierdo */
    }
}